{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <table class="table table-striped caption-top" data-wp-table="/api/workflow-engine/executors">
            <caption>Active Executors</caption>
            <thead>
                <tr>
                    <th data-wp-table-key="executor_id">Executor ID</th>
                    <th data-wp-table-key="pid">PID</th>
                    <th data-wp-table-key="username">Username</th>
                    <th data-wp-table-key="application_name">Application Name</th>
                    <th data-wp-table-key="client_addr">Client Address</th>
                    <th data-wp-table-key="client_port">Client Port</th>
                    <th data-wp-table-key="exec_start">Executor Start</th>
                    <th data-wp-table-key="session_active">Session Active?</th>
                    <th data-wp-table-key="workflow_run_count">Workflow Run Count</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col">
        <table class="table table-striped caption-top" data-wp-table="/api/workflow-engine/workflow-runs">
            <caption>Active Workflow Runs</caption>
            <thead>
                <tr>
                    <th data-wp-table-key="workflow_run_id">Workflow Run ID</th>
                    <th data-wp-table-key="workflow_id">Workflow ID</th>
                    <th data-wp-table-key="status">Status</th>
                    <th data-wp-table-key="executor_id">Executor ID</th>
                    <th data-wp-table-key="progress">Progress</th>
                    <!-- <th data-wp-table-key="tasks">Client Port</th> -->
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}